@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

abbr,
address,
area,
article,
aside,
audio,
b,
base,
bdi,
bdo,
blockquote,
body,
br,
button,
canvas,
caption,
cite,
code,
col,
colgroup,
data,
datalist,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
head,
header,
hgroup,
hr,
html,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
link,
main,
map,
mark,
menu,
meta,
meter,
nav,
noscript,
object,
ol,
optgroup,
option,
output,
p,
param,
picture,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
script,
section,
select,
slot,
small,
source,
span,
strong,
style,
sub,
summary,
sup,
table,
tbody,
td,
template,
textarea,
tfoot,
th,
thead,
time,
title,
tr,
track,
u,
ul,
var,
video,
wbr {
  font-family: 'Lexend Deca', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 3px;
}

a {
  font-family: 'Lexend Deca', sans-serif;
  text-decoration: none;
}

.regular-spacer {
  height: 10px;
}

.medium-spacer {
  height: 50px;
}

.big-spacer {
  height: 200px;
}

.page-not-found {
  width: 100%;
  text-align: center;
}

.special-logo {
  font-size: 36px;
  letter-spacing: 3px;
}

.logo-img {
  width: 50px;
}

.special-header {
  min-height: 100vh;
  background-color: white;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.portrait {
  float: left;
  width: 100px;
  border-radius: 20px;
  border: 2px solid white;
}

.linear-para {
  color: rgb(152, 187, 253);
  text-indent: 20px;
}

.hidden-break {
  display: none;
}

.special-presentation {
  text-align: left;
}

.portfolio-title {
  color: #2c3e50;
}

.section-portfolio {
  margin-bottom: -100px;
}

.section-contact {
  margin-bottom: -50px;
}

.contact-title {
  color: #2c3e50;
}

.special-form {
  margin: 20px;
  font-size: 12px;
}

.special-input {
  padding: 10px;
}

.special-textarea {
  padding: 10px;
}

.special-btn-form {
  float: right;
  letter-spacing: 2px;
}

.special-btn-form-2 {
  float: right;
  letter-spacing: 2px;
  margin-top: 20px;
}

.special-footer {
  margin-bottom: -100px;
}

.special-background-one {
  background-color: cornflowerblue;
  margin-bottom: -100px;
}

.navbar-custom .navbar-toggle {
  letter-spacing: 2px;
}

.navbar-custom .navbar-nav {
  text-align: center;
}

.btn-primary {
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
  font-weight: normal;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  outline-style: none;
}

.btn-secondary {
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
  font-weight: normal;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited {
  outline-style: none;
}

.btn-success {
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
  font-weight: normal;
}

.btn-success:hover,
.btn-success:active,
.btn-sucess:visited {
  background-color: #159c81;
  outline-style: none;
}

.btn-danger {
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
  font-weight: normal;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited {
  outline-style: none;
}

.btn-warning {
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
  font-weight: normal;
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning:visited {
  outline-style: none;
}

.btn-info {
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
  font-weight: normal;
}

.btn-info:hover,
.btn-info:active,
.btn-info:visited {
  outline-style: none;
}

.btn-light {
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
  font-weight: normal;
}

.btn-light:hover,
.btn-light:active,
.btn-light:visited {
  outline-style: none;
}

.btn-dark {
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
  font-weight: normal;
}

.btn-dark:hover,
.btn-dark:active,
.btn-dark:visited {
  outline-style: none;
}

/* Icon Back to Back office */
.return-back {
  position: absolute;
  top: 110px;
  left: 20px;
  font-size: 18px;
}

.return-back-two {
  position: absolute;
  top: 110px;
  left: 20px;
  color: white;
  font-size: 18px;
}

/* Apparences de boutons */
.special-button {
  margin-bottom: 4px;
  text-transform: uppercase;
  font-size: 15px;
}

.special-menu {
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-size: 16px;
}

.dropdown-menu-bis {
  text-align: center;
  text-transform: uppercase;
}

.menu-info {
  width: 100%;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: bold;
  margin-top: -5px;
  background-color: white;
  color: grey;
}

.special-nav {
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 4px;
}

/* Check Username Box */
.check-user-box {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: white;
  color: black;
  text-align: center;
}

.check-user-para {
  position: fixed;
  top: 150px;
  width: 100%;
}

.fa-times {
  position: fixed;
  top: 120px;
  font-size: 24px;
}

#input_checked {
  opacity: 0.5;
}

.post-date-info {
  font-size: 14px;
  margin-bottom: 10px;
}

.post-chapo {
  margin-top: 40px;
  margin-bottom: 80px;
  color: black;
}

.post-chapo-2 {
  margin-top: 40px;
  margin-bottom: 80px;
  color: black;
  letter-spacing: 1px;
  font-size: 21px;
}

.floating-label-form-group {
  border-left: 1px solid rgb(182, 182, 182);
  border-right: 1px solid rgb(182, 182, 182);
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid rgb(182, 182, 182);
  border-top-left-radius: 20px;
}

.special-hr {
  border: 0.1px solid rgb(214, 214, 214);
  width: 81%;
  float: left;
  margin-top: -30px;
}

.img-special-post {
  margin-top: 30px;
  margin-bottom: 30px;
}

.special-btn-comment {
  letter-spacing: 2px;
}

.special-message {
  color: cornflowerblue;
}

.post-dashboard {
  border: 2px solid grey;
  margin-bottom: 10px;
  padding: 10px;
}

.img-dashboard {
  max-width: 150px;
}

.info-dashboard {
  font-size: 14px;
}

.comment-dashboard {
  border: 2px solid grey;
  margin-bottom: 10px;
  padding: 20px;
}

.comment-dashboard-title {
  margin-bottom: 20px;
  margin-top: 60px;
}

.comment-dashboard-title-2 {
  margin-bottom: 20px;
}

.manage-dashboard {
  margin-bottom: 10px;
  padding: 10px;
}

.special-manage-col-1 {
  border-top: 1px solid #dcdcdc;
  padding-top: 6px;
}

.special-manage-col-2 {
  padding-top: 6px;
}

.special-manage-button {
  width: 200px;
  margin-bottom: 20px;
}

.para-registration {
  color: black;
  font-size: 16px;
}

.special-form-registration {
  margin-top: 30px;
}

.featured-img {
  margin-bottom: 20px;
}

.para-about {
  text-align: justify;
}

.portfolio-modal .modal-content {
  padding: 50px 0;
}

.portfolio-modal .close-modal .lr {
  height: 35px;
}

.portfolio-modal .close-modal .rl {
  height: 35px;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

.back-to-top:hover {
  color: #c0c0c0;
}

.special_btn_nbr_0 {
  opacity: 0;
}

.special-chevron {
  position: absolute;
  color: #5bc0de;
  pointer-events: none;
  margin-left: 14px;
  margin-top: 10px;
}

/*
.pagination-form {
  display:inline-block;
}
*/

/* jQuery Plugin Pagination CSS */
.list-wrapper {
  padding: 15px;
  overflow: hidden;
}

.list-item {
  border: 1px solid #eee;
  background: #fff;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
}

.list-item h4 {
  color: #5bc0de;
  font-size: 18px;
  margin: 0 0 5px;
}

.list-item p {
  margin: 0;
}

.simple-pagination ul {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.simple-pagination li {
  display: inline-block;
  margin-right: 5px;
}

.simple-pagination li a,
.simple-pagination li span {
  color: #666;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #eee;
  background-color: #fff;
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
}

.simple-pagination li a:hover {
  background: #5bc0de;
  color: white;
}

.simple-pagination .current {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
  background: #5bc0de;
}

/* Media Queries max-width: 991px */
@media all and (max-width: 991px) {
  .centered-text {
    text-align: center;
  }

  .img-special-post {
    margin-top: -20px;
  }
}

/* Media Queries max-width: 767px */
@media all and (max-width: 767px) {
  .navbar-header {
    height: 60px;
  }

  .special-logo {
    font-size: 30px;
    margin-top: 5px;
  }

  .logo-img {
    width: 40px;
    margin-top: 10px;
  }

  .portrait {
    float: initial;
    width: 90px;
    margin-top: 50px;
  }

  .linear-para {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
  }

  .hidden-break {
    display: initial;
  }

  .dev-title {
    width: 100%;
    text-align: center;
    font-size: 20px;
  }

  .special-title {
    font-size: 20px;
  }

  .article-title {
    font-size: 26px;
  }

  p {
    font-size: 18px;
  }

  .special-hr {
    width: 70%;
  }

  .para-about {
    text-align: center;
  }

  .para-presentation {
    text-align: center;
  }
}

/* Media Queries max-width: 490px */
@media all and (max-width: 490px) {
  .special-hr {
    width: 60%;
  }
}
